<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Витрина товаров</title>
</head>
<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>

<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <form>
                <p>
                    <label for="search">Найти: </label>
                    <input id="search" style="width:300px;" name="search" th:value="${search}">
                    <button name="action">&#128269;</button>
                </p>
                <p>
                    <label for="sort">Сортировка: </label>
                    <select id="sort" name="sort" onchange="this.form.submit()">
                        <option value="NO" th:selected="${sort=='NO'}">нет</option>
                        <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                        <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                    </select>
                </p>
                <p>
                    <label for="pageSize">Число товаров: </label>
                    <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                        <option value="10" th:selected="${pageSize == 10}">10</option>
                        <option value="20" th:selected="${pageSize == 20}">20</option>
                        <option value="50" th:selected="${pageSize == 50}">50</option>
                        <option value="100" th:selected="${pageSize == 100}">100</option>
                    </select>
                </p>
                <p>
                    <button th:if="${hasPrevious}" name="pageNumber" th:value="${pageNumber - 1}">&lt;</button>
                    <span th:text="'Страница: ' + ${pageNumber}"></span>
                    <button th:if="${hasNext}" name="pageNumber" th:value="${pageNumber + 1}">&gt;</button>
                </p>

            </form>
        </td>
    </tr>

    <tr th:each="itemsRow : ${items}">
        <td th:each="item : ${itemsRow}">
            <table>
                <tr>
                    <td>
                        <a th:href="@{'/items/' + ${item.id}}">
                            <img width="300" height="300" th:src="@{${item.imgPath}}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.title}"></b>
                    </td>
                    <td>
                        <b th:text="${item.price} + ' руб.'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.description}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{'/main/items/' + ${item.id} + '?action=MINUS'}">-</a>
                        <span th:text="${item.count}"></span>
                        <a th:href="@{'/main/items/' + ${item.id} + '?action=PLUS'}">+</a>
                        <a th:href="@{'/main/items/' + ${item.id} + '?action=ADD'}" style="float:right;">В корзину</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
