<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>

<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="entry : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="@{${entry.item.imgPath}}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${entry.item.title}"></b>
                    </td>
                    <td>
                        <b th:text="${entry.item.price} + ' тг.'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${entry.item.description}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{'/cart/items/' + ${entry.item.id}}" method="post">
                            <button name="action" value="MINUS">-</button>
                            <span th:text="${entry.quantity}"></span>
                            <button name="action" value="PLUS">+</button>
                            <button name="action" value="DELETE" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: ' + ${total} + ' тг.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!empty}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
